<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <Title>EventoApp</Title>
</head>
<body>
    <h1>Cadastro de Evento</h1>
    <form method="post">
        Nome: <input type="text" value="" name="nome"/>
        Local: <input type="text" value="" name="local"/>
        Data: <input type="date" value="" name="data"/>
        Horário: <input type="text" value="" name="horario"/>

        <button type="submit">Salvar</button>
    </form>
</body>
</html>